html {
    position: static;
    height: 100%;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-position: center center;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#cave:hover {
  transform: scale(1.1); /* Увеличивает масштаб объекта на 10% при наведении */
  cursor: pointer; /* Меняет курсор при наведении */
}